@CHARSET "UTF-8";
body{
	width: auto;
}

#msg h3{
	width: 90%;
	margin: 10px auto;
	padding: 4px 0 0 0;
	height: 30px;
	text-align:center;
	border: 1px solid #ccc;
}

#msg dl{
	width: 90%;
	margin: 0 auto;
}

#msg dl dd{
	margin: 5px 0;
}
#msg dl dd input.text{
	width: 180px;
	height: 20px;
	background: #fff;
	border: 1px dashed #333;
}
#msg dl dd input.passcode{
	width: 60px;
	height: 22px;
}
#msg dl dd textarea{
	width: 100%;
	height: 120px;
	background: #fff;
	border: 1px dashed #333;
	overflow-y: scroll;
}
#code{
	margin-left: 10px;
	position: relative;
	top: 10px;
	cursor: pointer;
}
#msg dl dd input.submit{
	cursor: pointer;
}