@CHARSET "UTF-8";
#settings_main table{
	width: 90%;
	margin: 10px auto;
	text-align: center;
	background: #9efaaa;
}

#settings_main table th, #settings_main table td{
	background: #fcce83;
	line-height: 25px;
	height: 25px;
}
#settings_main table td a{
	text-decoration: none;
	color: #466;
}
#settings_main table td a:hover{
	text-decoration: underline;
}