@CHARSET "UTF-8";

#post{
	width:auto;
	height: 600px;	
	position: relative;
	
}

#post h2{
	text-indent: 0;
	text-align: center;
	letter-spacing: 2px;
	color: #222;
}
#post dl dd textarea{
	width: 550px;
	height: 200px;
	border: 1px  dashed #333;
	background: #fff;
}

#post dl dd #ubb{
	width: 550px;
	height: 26px;
	background: url(../../images/bgMenubar.gif);
}

#post dl dd #ubb img{
	display: block;
	float: left;
	padding: 0 2px 0 0;
}
#post dl dd #font{
	display: none;
	width: 130px;
	height: 46px;
	background: #eee;
	border: 1px dashed #eee;
	padding: 8px;
	line-height:20px;
	position: absolute;
	top: 210px;
	left: 11px;
}
#post dl dd #font strong{
	font-weight: normal;
	background: #fff;
	display: block;
	border: 1px solid #ccc;
	float: left;
	margin: 2px 0 2px 2px;
	cursor: default;
}
#post dl dd #color{
	display: none;
	width: 152px;
	height: 95px;
	background: #eee;
	font-size:12px;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
	position: absolute;
	top: 210px;
	left: 180px;
}
#post dl dd #color strong{
	width: 12px;
	height: 12px;
	float: left;
	margin: 4px 0 0 4px;
}
#post dl dd #color em{
	width: 12px;
	height: 12px;
	float: left;
	margin: 4px 0 0 4px;
}
#post dl dd #color em input{
	margin: 4px 0 2px 4px;
}
dl{	
	text-indent: 0;
	text-align: center;
	margin: 0 260px;
	background: silver;
	position: absolute;
}
dt{
	text-align: center;
	padding: 10px 0;
}
dd{
	margin: 10px;
}
input[type="radio"]{
 	margin:1px;
   vertical-align: baseline;
}

input.text{
	width: 550px;
	height:20px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
	color: #555;
	padding: 5px 0;
}
input.passcode{
	height: 30px;
	width: 130px;
	
	margin: 5px 0;
}
input.submit{
	height: 28px;
	width: 50px;
	margin-left: 10px;
}
#code{
	position: relative;
	top: 12px;
	cursor: pointer;
}
img{
	margin: 5px 0 5px 10px;	
	cursor: pointer;
}


